<nav>
    <div>
        <a href="#!">FoodSense</a>
        <a href="#">Ham</a>


        <ul>
            <li><a href="/items">Items</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>